<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divce-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Cmpatible" content="ie=edge">
    <title>Vue for tic-tac-toe</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="node_modules/vue/dist/vue.global.js" charset="utf-8"></script>
    <script src="node_modules/sweetalert/dist/sweetalert.min.js" charset="utf-8"></script>
    <style>
        .pieces {
            /* width: 80%;
            height: 80%; */
            margin: 1px !important;
            max-width: 35px;
            min-width: 28px;
            min-height: 28px;
        }

        .XAM5jb path {
            stroke: darkgreen;
            stroke-width: 6px;

        }

        .GameTitle {
            display: inline-flex;
            width: 100%;
        }

        .GameFoot:hover {
            font-weight: bold;
            cursor: pointer;
        }

        .checkerboard {
            width: 99px;
            height: 100px;
            position: absolute;
            top: 4px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        .checkerboardSVG {
            position: absolute;
            margin: auto !important;
        }

        #tbGameTitle {
            margin: 0% auto;
        }

        #tbGameTitle td {
            display: inline-flex;
        }
    </style>
</head>

<body>
    <div class="px-4 my-5 text-center">
        <div style="display: inline-flex">
            <img class="d-block mx-auto mb-4"
                src="https://cdn.iconscout.com/icon/premium/png-256-thumb/tic-tac-toe-1424849-1204411.png" alt=""
                width="70">
            <h1 class="display-5 fw-bold">Let's play the Tic-tac-toe game.</h1>
        </div>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">This is built width Vue3 JS.</p>
            <div id="ttt" style="background-color:cadetblue;">
                <div>
                    <div class="GameTitle" style="position: relative;">
                        <table id="tbGameTitle">
                            <tr>
                                <td>You are:
                                    <div class="pieces">
                                        <svg aria-label="X" role="img" viewBox="0 0 128 128">
                                            <path class="hFJ9Ve" d="M16,16L112,112"
                                                style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0; stroke-width: 16px;">
                                            </path>
                                            <path class="hFJ9Ve" d="M112,16L16,112"
                                                style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;stroke-width: 16px;">
                                            </path>
                                        </svg>
                                    </div>
                                </td>
                                <td>Opponent:
                                    <div class="pieces">
                                        <svg aria-label="O" role="img" viewBox="0 0 128 128">
                                            <path class="hFJ9Ve" d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16"
                                                style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;stroke-width: 16px; fill:none;">
                                            </path>
                                        </svg>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <div style="display:inline-flex;">輪到
                        <div class="pieces">
                            <div v-if="pty.CurrentTurn==='X'">
                                <svg aria-label="X" role="img" viewBox="0 0 128 128">
                                    <path class="hFJ9Ve" d="M16,16L112,112"
                                        style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0; stroke-width: 16px;">
                                    </path>
                                    <path class="hFJ9Ve" d="M112,16L16,112"
                                        style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;stroke-width: 16px;">
                                    </path>
                                </svg>
                            </div>
                            <div v-if="pty.CurrentTurn==='O'">
                                <svg aria-label="O" role="img" viewBox="0 0 128 128">
                                    <path class="hFJ9Ve" d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16"
                                        style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;stroke-width: 16px; fill:none;">
                                    </path>
                                </svg>
                            </div>
                        </div>了
                    </div>
                </div>
                <div>
                    <div class="col-lg-2 mx-auto" style="position: relative; width: 100px;">
                        <svg jsname="hSNbuf" class="Vu40Fd XAM5jb" viewBox="0 0 215 215"
                            style="width: 100%; opacity: 1;">
                            <path jsname="V3UtZb" class="hFJ9Ve"
                                d="M106.51736450195312,82.0694580078125L6.017364501953125,82.0694580078125"
                                style="stroke-dasharray: 100.5; stroke-dashoffset: 0;"></path>
                            <path jsname="V3UtZb" class="hFJ9Ve"
                                d="M106.51736450195312,152.0694580078125L6.017364501953125,152.0694580078125"
                                style="stroke-dasharray: 100.5; stroke-dashoffset: 0;"></path>
                            <path jsname="V3UtZb" class="hFJ9Ve"
                                d="M106.51736450195312,82.0694580078125L207.01736450195312,82.0694580078125"
                                style="stroke-dasharray: 100.5; stroke-dashoffset: 0;"></path>
                            <path jsname="V3UtZb" class="hFJ9Ve"
                                d="M106.51736450195312,152.0694580078125L207.01736450195312,152.0694580078125"
                                style="stroke-dasharray: 100.5; stroke-dashoffset: 0;"></path>
                            <path jsname="V3UtZb" class="hFJ9Ve"
                                d="M72.01736450195312,117.0694580078125L72.01736450195312,15.0694580078125"
                                style="stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
                            <path jsname="V3UtZb" class="hFJ9Ve"
                                d="M141.01736450195312,117.0694580078125L141.01736450195312,15.0694580078125"
                                style="stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
                            <path jsname="V3UtZb" class="hFJ9Ve"
                                d="M72.01736450195312,117.0694580078125L72.01736450195312,219.0694580078125"
                                style="stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
                            <path jsname="V3UtZb" class="hFJ9Ve"
                                d="M141.01736450195312,117.0694580078125L141.01736450195312,219.0694580078125"
                                style="stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
                        </svg>
                        <table class="checkerboard">
                            <tr v-for="line in BoardLine">
                                <td v-for="squareID in SquareArray(line)">
                                    <div class="pieces" v-bind="{id: squareID}" v-on:click="chooseit(squareID)">
                                        <pieces-type :key="squareID" :squarecontent="GetSquareValue(squareID)">
                                        </pieces-type>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-2 mx-auto">
                    <div class="GameFoot" @click="resetGame()">重新開始遊戲</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    Array.prototype.groupBy = function (prop, text) {
        return this.reduce(function (groups, item) {
            const val = item[prop]
            if (val === text) {
                groups[val] = groups[val] || []
                groups[val].push(item)
            }
            return groups
        }, {})
    };

    const WinArray = [[1, 2, 3], [1, 4, 7], [1, 5, 9], [2, 5, 8], [3, 5, 7], [3, 6, 9], [4, 5, 6], [7, 8, 9]];
    const obj = Vue.createApp({
        data() {
            return {
                pty: {
                    SquareIDList: [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
                    SquareObj: [
                        { index: 1, value: '' },
                        { index: 2, value: '' },
                        { index: 3, value: '' },
                        { index: 4, value: '' },
                        { index: 5, value: '' },
                        { index: 6, value: '' },
                        { index: 7, value: '' },
                        { index: 8, value: '' },
                        { index: 9, value: '' },
                    ],
                    CurrentTurn: 'X'
                }
            }
        },
        computed: {
            BoardLine() { return this.pty.SquareIDList.length },
            SquareArray() { return idx => { return this.pty.SquareIDList[idx - 1] } },
            GetSquareValue() { return idx => { return this.pty.SquareObj[idx - 1].value } }
        },
        methods: {
            chooseit(psquareID) {
                if (this.pty.SquareObj[psquareID - 1].value) return;
                this.pty.SquareObj[psquareID - 1].value = this.pty.CurrentTurn;
                this.changeTurn();
            },
            changeTurn() {
                if (this.pty.CurrentTurn === 'X') { this.pty.CurrentTurn = 'O'; } else { this.pty.CurrentTurn = 'X'; }
            },
            resetGame() {
                this.pty.CurrentTurn = 'X';
                this.pty.SquareObj.forEach((item) => {
                    item.value = '';
                })
            },
            GetWinner() {
                const Otype = this.pty.SquareObj.groupBy('value', 'O');
                const Xtype = this.pty.SquareObj.groupBy('value', 'X');
                if (Otype.O.length >= 3) {
                    const wary = JSON.parse(JSON.stringify(WinArray));
                    Otype.O.forEach((ov) => {
                        wary.forEach((ary) => {
                            if (ary.indexOf(ov.index) > -1) {
                                ary.splice(ary.indexOf(ov.index), 1)
                            }
                        })
                    })
                    if (wary.findIndex(x => x.length == 0) > -1) return 'O';
                }
                if (Xtype.X.length >= 3) {
                    const wary = JSON.parse(JSON.stringify(WinArray));
                    Xtype.X.forEach((xv) => {
                        wary.forEach((ary) => {
                            if (ary.indexOf(xv.index) > -1) {
                                ary.splice(ary.indexOf(xv.index), 1)
                            }
                        })
                    })
                    if (wary.findIndex(x => x.length == 0) > -1) return 'X';
                }
                return '';
            }
        },
        watch: {
            pty: {
                handler() {
                    if (this.pty.SquareObj.filter(item => item.value).length > 4) {
                        const winner = this.GetWinner();
                        if (winner) { swal(winner + ' is winner!', '', 'success'); this.resetGame(); }
                    }
                },
                deep: true
            }
        }
    }).component('pieces-type', {
        props: ['squarecontent'],
        template: `
        <div v-show="squarecontent==='X'">
            <svg aria-label="X" role="img" viewBox="0 0 128 128">
                <path class="hFJ9Ve" d="M16,16L112,112"
                    style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0; stroke-width: 16px;">
                </path>
                <path class="hFJ9Ve" d="M112,16L16,112"
                    style="stroke: rgb(84, 84, 84); stroke-dasharray: 135.764; stroke-dashoffset: 0;stroke-width: 16px;">
                </path>
            </svg>
        </div>
        <div v-show="squarecontent==='O'">
            <svg aria-label="O" role="img" viewBox="0 0 128 128">
                <path class="hFJ9Ve" d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16"
                    style="stroke: rgb(242, 235, 211); stroke-dasharray: 301.635; stroke-dashoffset: 0;stroke-width: 16px; fill:none;">
                </path>
            </svg>
        </div>`
    }).mount('#ttt')

</script>